<div class="side-header">
  <h3>🩺 ED Desk</h3>
  <div class="nav-section">
    <a routerLink="dashboard" routerLinkActive="active">📊 Dashboard</a>
    <a routerLink="Primary-Assessmen" routerLinkActive="active"
      >📝 Primary Assessment</a
    >
    <a routerLink="doctor-notes" routerLinkActive="active">🩺 Doctor Notes</a>
    <a routerLink="Point-of-Care-Test" routerLinkActive="active"
      >🔍 Point Of Care Test</a
    >
    <a routerLink="investigation-order" routerLinkActive="active"
    >🧪 Investigation Order</a
    >
    <a routerLink="treatment-details" routerLinkActive="active">💊 Treatment Detail</a>
    <a routerLink="ed-consultation-record" routerLinkActive="active">🧑‍⚕️ ED Consultation</a>
    <a routerLink="Diagnosis" routerLinkActive="active">🧠 Diagnosis</a>
    <a routerLink="discharge" routerLinkActive="active">📋 Disposition </a>
    <a routerLink="summary" routerLinkActive="active"> 📚 Summary </a>
  </div>
</div>
