<div class="side-header">
  <h3>🩺 Emergency Nursing Desk</h3>
  <div class="nav-section">
    <a routerLink="vitals-recording" routerLinkActive="active">💊 Vitals Recording</a>
    <a routerLink="treatment-details-nurs-site" routerLinkActive="active">🧪 Treatment Details</a>
    <a routerLink="nurse-handover-notes" routerLinkActive="active">📝 Nurse Handover Notes</a>
    <a routerLink="Intake-output" routerLinkActive="active">📚 Intake / Output</a>
    <a routerLink="nursing-summary" routerLinkActive="nursing-summary"> 📝 Summary</a>
  </div>
</div>
