<header class="header">
  <div class="header-top">
    <div class="aiims-heading">
      <span>अखिल भारतीय आयुर्विज्ञान संस्थान, रायपुर</span>
      <span>All India Institute of Medical Sciences, Raipur</span>
    </div>
    <button class="menu-toggle" (click)="toggleMenu()">☰</button>
  </div>
  <div>
    <div class="nav-bar" *ngIf="!isMenuOpen">
      <span class="site-title">AIIMS Raipur</span>
      <div class="nav-links">
        <nav class="nav-links">
          <button (click)="navigateTo('/patient-added')" *ngIf="role === 'r' || role === 'f'">
            Patient Registration
          </button>
           <button (click)="navigateTo('/triage-list')" *ngIf="role === 't' || role === 'f'">
            Triage List
          </button>
          <button
            (click)="navigateTo('/registration-list')"
            *ngIf="role === 'r' || role === 'f'"
          >
            Registration List
          </button>

          <button (click)="navigateTo('/service')">Services</button>
          <button (click)="navigateTo('')">Logout</button>
        </nav>
      </div>
    </div>

    <div class="dropdown-menu" *ngIf="isMenuOpen">
      <nav class="nav-links">
        <button (click)="navigateTo('/patient-added')">
          Patient Registration
        </button>
        <button (click)="navigateTo('/patient-list')">Patient List</button>
        <button (click)="navigateTo('/service')">Services</button>
        <button (click)="navigateTo('')">Logout</button>
      </nav>
    </div>
  </div>
</header>
