.summary-container button {
  background-color: #cfa359;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.summary-container button:hover {
  background-color: #c98206;
  transform: translateY(-1px);
}

.summary-container button:active {
  transform: scale(0.98);
  background-color: #d7931e;
}
.summary-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
