
h3 {
  color: #2a3f54;
  font-size: 20px;
  margin-bottom: 16px;
}

.form-row , .save-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

mat-form-field {
  flex: 1;
  min-width: 150px;
}

.full-width {
  width: 100%;
}
.section , .lft-card{
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f4f3f6;
    margin-bottom: 10px;
}
.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}

::ng-deep .custom-slide-toggle {
  transform: scale(0.7);
}

::ng-deep .custom-slide-toggle .mdc-switch__track::after {
  background: #cfa359 !important;
}
::ng-deep .mdc-switch--selected .mdc-switch__icon {
  fill: #cfa359 !important;
}
.cbc-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 12px;
  margin-top: 12px;
}
.vitals-container{
    display: grid;
    /* justify-content: center; */
    align-items: center;
}
.entry-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.sub-heading {
    color: #2a3f54;
    font-size: 20px;
    text-align: center;
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 16px;
  margin-bottom: 10px;
}
.allfildes-container{
  display: grid;
}
::ng-deep .section .mat-mdc-form-field-error{
  width: 1000px;
}